@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --main-bg-color: #f3f5fc;
    --main-text-color: #0a3871;
    --result-container-color: #ffffff;
    --hint-color: #a7a1a1;
    --fore-blue-button: #ffffff;
    --secondary-button-color: #d8dfe8;
    --warning-fore-color: #000000;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: "Open Sans", sans-serif;
    scroll-behavior: auto;
    box-sizing: content-box;
    height: 100vh;
}

main {
    box-sizing: border-box;
}

.row {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    margin: 0 auto;
    transform: translateY(12%);
}

.logo {
    position: fixed;
}

.letralogo {
    width: 100%;
    max-width: 100px;
}

.container {
    margin: 0 auto;
    height: 100vh;
}

.texto {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 1.5em;
    resize: none;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    background-color: var(--main-bg-color);
    border-style: none;
    color: var(--main-text-color);
}

.espaciador {
    width: 200px;
}

.zonaTexto {
    margin-left: 5em;
    align-items: center;
}

.zonaResultado {
    margin-left: 5em;
    max-width: 250px;
    background-color: var(--result-container-color);
    padding: 2em;
    height: 430px;
    border-radius: 10px;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.116);
}

.resu {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    opacity: 0;
    height: 73%;
    resize: none;
    border: none;
    color: var(--main-text-color);
    font-size: 20px;
}

textarea {
    background-color: var(--result-container-color);
    scrollbar-color: var(--secondary-button-color) rgba(0, 0, 0, 0);
    outline: none;
    scroll-behavior: smooth;
    font-family: "Open Sans", sans-serif;
}

.logo2 {
    justify-content: center;
    align-items: center;
    display: flex;
}

.logo2 img {
    position: absolute;
    transform: translate(0.1em, 8em);
    width: 100%;
    max-width: 200px;
}

.advertencia {
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: ease 0.5s;
}

.mensaje {
    position: absolute;
    transform: translate(0, 15em);
    display: flex;
    margin-top: 55px;
    color: var(--warning-fore-color)
}

.hint  {
    transform: translate(0, 30em);
    font-size: 10px;
    text-align: center;
    position: absolute;
}

.botonCopiar {
    display: flex;
    margin: 0 auto;
    padding: 15px 60px;
    margin-top: 4em;
    border-radius: 10px;
    border: solid 0.5px;
    color: var(--main-text-color);
    border-color: var(--main-text-color);
}

.leyenda {
    font-size: 9px;
    margin: 2px;
    color: var(--hint-color);
}

.rowBoton {
    display: flex;
    justify-content: space-around;
}

.rowBoton button {
    padding: 15px 60px;
    border-radius: 10px;
    border: solid 1px;
}

button {
    cursor: pointer;
}

.encriptar {
    background-color: #0a3871;
    color: white;
    border: none;
}

.desencriptar {
    background-color: var(--secondary-button-color);
    border-color: var(--main-text-color);
    color: var(--main-text-color);
}

@media (min-width: 768px) and (max-width: 991px) {
    .container {
        margin: 0;
        /* transform: translate(-6%); */
    }

    .logo {
        z-index: 5;
    }

    .row {
        display: block;
        margin: 0 auto;
        max-width: 768px;
        width: 75%;
        justify-content: center;
    }

    .espaciador {
        width: 0;
    }

    .zonaTexto {
        margin: 0 auto;
    }

    .zonaTexto textarea {
        width: 100%;
    }

    .leyenda {
        margin: 10px 9em;
    }

    #advertencia {
        display: none
    }

    .resu {
        margin: 0 auto;
        display: flex;
        width: 100%;
        height: fit-content;
    }

    .mensaje {
        top: 12em;
    }
    
    .hint {
        top: 23em;
    }
    .zonaResultado {
        display: grid;
        width: auto;
        height: auto;
        max-height: 700em;
        margin: 0 auto;
        margin-top: 1em;
        max-width: 37.5em;
        margin-bottom: 1em;
    }

    .zonaResultado textarea {
        display: grid;
        resize: none;
        height: auto;
        overflow: hidden;
    }
}

@media (max-width: 767px) {

    .container {
        display: flexbox;
        margin: 0 auto;
        justify-content: center;
    }

    .row {
        display: block;
        margin: 0 auto;
        max-width: 400px;
        width: 75%;
        justify-content: center;
    }

    #advertencia {
        display: none;
    }

    .rowBoton {
        display: block;
        margin-bottom: 1em;
        width: 100%;
        margin: 0 auto;
    }

    .espaciador {
        height: 5px;
    }

    .rowBoton button {
        max-width: 400px;
        width: 100%;
    }

    .leyenda {
        max-width: 355px;
        width: 100%;
    }

    .letralogo {
        position: fixed;
        transform: scale(60%);
        max-width: 100px;
        left: -30px;
        top: -20px;
    }

    .zonaTexto {
        max-width: 400px;
        margin: 0 auto;
        width: 100%;
        height: 26em;
    }

    .espaciadorR {
        height: 20px;
    }

    .zonaResultado {
        max-width: 400px;
        margin: 0 auto;
        width: 100%;
        height: 26em;
    }

    .zonaTexto textarea{
        font-size: 25px;
        max-width: 385px;
        width: 95%;
    }

    .zonaResultado {
        max-height: fit-content;
        max-width: 400px;
        margin: 0 auto;
        width: 78.9%;
        height: 30%;
        margin-bottom: 10px;
    }

    .zonaResultado textarea{
        font-size: 15px;
        max-width: 100%;
        width: 100%;
        margin-bottom: 1em;
    }

    .botonCopiar {
        margin: 0;
        padding: 15px;
        width: 100%;
        justify-content: center;
    }

    .mensaje {
        transform: translate(0px);
    }
    .hint {
        transform: translate(0px, 60px);
    }
}

@media (min-width: 320px) and (max-width: 376px) {
    .zonaResultado {
        max-height: fit-content;
        max-width: 320px;
        margin: 0 auto;
        width: 71.5%;
        height: 30%;
        margin-bottom: 10px;
    }
}

